/* general */
* {
    list-style: none;
}

:root {
    --primary-color: #222;
    --accent-color: #2262A0;
}

.border-bottom-myPrim {
    border-bottom: 3px solid var(--accent-color);
}

.w-fit {
    width: fit-content;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

.text-white-100-hover:hover {
    color: white;
}

.shadow-md {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.301);
}

.z-20 {
    z-index: 20;
}

/* nav */
.nav-item a:hover {
    color: var(--accent-color);
    color: var(--accent-color);
}

/* footer */
footer {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.9);
}

footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);;
}

footer .links ul li {
    transition: 200ms all;
}

footer .links ul li a {
    padding-bottom: 2px;
}

footer .links ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

footer .links ul li:hover {
    transform: translateY(-2px);
}

footer .contact .icons a {
    padding: 2px;
    font-size: 25px;
    transition: 250ms all;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

footer .contact .icons a:hover {
    color:white;
}

footer .copy {
    text-align: center;
}