/* hero */
.hero {
    background-image: url(https://image-us.samsung.com/us/smartphones/galaxy-s26/images/galaxy-s26-features-kv.jpg?imbypass=true);
    background-size: cover;
    background-position-x: right;
}

/* Brands */
.brands h2, .shop h2 {
    text-transform: capitalize;
    width: fit-content;
    text-align: start;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--accent-color);
}

.brands .img {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands .img img {
    max-width: 150px;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.brands  .img {
    transition: 200ms all;
}

.brands .img:hover {
    transform: translateY(-15px);
}

/* shope */
.iphone {
    transform: scale(0.7);
}

.shop .img {
    height: 350px;
}

.shop .child {
    transition: 250ms all;
}

.shop .child:hover {
    box-shadow: 1px 5px 7px 1px #0000004d;
}